.open-sans {
    font-family: "Open Sans", "Arial" sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    line-height: 30px;
}
.block-1 {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: line-through;
    font-weight: 700;
}
#seredina {
    font-family: "Tinos","Georgia" serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.block-2 {
    text-decoration-style: double;
    text-shadow: 1px 1px 1px rgb(255, 0, 242);
    word-spacing: 30px;
    text-decoration-style: wavy;
	text-decoration-color: rgb(255, 0, 242);
	text-decoration-line: overline;
    color:rgb(255, 0, 242) ;
}
.block-3 {
    letter-spacing: 5px;
    text-decoration-style: double;
    text-decoration-color: black;
    text-decoration-line: underline;
}