.img {
    width: 60px;
    height: 60px;
}

.zagolovok {
    text-transform: uppercase;
}

.gym {
    width: 1000px;
    height: 500px;
}

.img-1 {
    width: 60px;
    height: 60px;
    margin: auto;
    display: block;
}


