table {
    border-collapse: collapse;
    border-spacing:0 ;
}
thead {
    text-align: center;
    font-weight: bold;
}

.dni-nedeli {
    font-weight: bold;
}

td {
    border: 1px solid #000; 
    font-family:Arial, Helvetica, sans-serif;          
}
td span {
    color: red;
}